body,
.stretched-layout .bgWrapper {
    background-color: #454545;
    background-image: url('../images/backgrounds/patterns/right_strip_pattern.png');
background-image: url('../images/backgrounds/patterns/multicolor.jpg');
    background-position: top left;
    1background-repeat: no-repeat;
    1background-attachment: fixed
}

.wrapper-content {
    width:620px; 
}

h1, h2, h3, h4, h5, h6, .special-font {
    font-family:'Yanone Kaffeesatz' !important; 
}

#nav > ul > li > a {
    font-family: Verdana, Geneva, sans-serif !important; 
}

p,
li {
    font-family: Calibri, 'Lucida Sans Unicode', Helvetica, Arial, san-serif !important; 
}

#topbar {
    text-align: right;
}