{% extends 'layouts/base.html' %}

{% block body %}
<!-- *** TOPBAR ***-->
<div id="top">
    <div class="container" >
        <div class="col-xs-12 col-md-12 topMenu" >
            <ul class="menu">
            </ul>
        </div>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="form-modal-login" action="perfil.html" method="post">
                        <div class="form-group">
                            <label for="usuario-modal-login">Usuario</label>
                            <input type="text" class="form-control" id="usuario-modal-login" placeholder="usuario">
                        </div>
                        <div class="form-group">
                            <label for="password-modal-login">Contraseña</label>
                            <input type="password" class="form-control" id="password-modal-login" placeholder="contraseña">
                        </div>

                        <p class="text-center">
                            <a href="perfil.html" class="btn btn-primary">Ingresar</a>
                        </p>

                    </form>

                    <p class="text-center text-muted">¿No te registraste todavía?</p>
                    <p class="text-center text-muted"><a href="#" data-toggle="modal" data-target="#register-modal"><strong>Registrate ahora</strong></a> Es fácil y te permite acceder a beneficios y servicios </p>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="Register" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="form-modal-register" action="perfil.html" method="post">
                        <div class="form-group">
                            <label for="usuario-modal-register">Usuario</label>
                            <input type="text" class="form-control" id="usuario-modal-register" placeholder="usuario" required>
                        </div>
                        <div class="form-group">
                            <label for="email-modal-register">Email</label>
                            <input type="email" class="form-control" id="email-modal-register" placeholder="email" required>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="nombre-modal-register">Nombre</label>
                                    <input class="form-control" id="nombre-modal-register" placeholder="usuario" type="text" required>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="nombre-modal-register">Apellido</label>
                                    <input class="form-control" id="apellido-modal-register" placeholder="usuario" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password-modal-register">Contraseña</label>
                            <input type="password" class="form-control" id="password-modal-register" name="password-modal-register" placeholder="contraseña" required>
                        </div>
                        <div class="form-group">
                            <label for="passwordverify-modal-register">Verificar Contraseña</label>
                            <input type="password" class="form-control" id="passwordverify-modal-register" name="passwordverify-modal-register" placeholder="verificar contraseña" required equalTo="#password">
                        </div>

                        <p class="text-center">
                            <button class="btn btn-primary">Registrarme</button>
                        </p>

                    </form>

                    <p class="text-center text-muted">¿Ya estás registrado?</p>
                    <p class="text-center text-muted"><a href="#" data-toggle="modal" data-target="#login-modal"><strong>Ingresa ahora</strong></a></p>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- *** TOP BAR END *** -->
<!-- *** N A V B A R *** MENU SUPERIOR ###################################################### -->
<div class="navbar" role="navigation" id="navbar" >
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-2" id="logo">
                <a class="navbar-brand home" href="home.html" data-animate-hover="bounce" style="padding:0;margin:0;">
                    <img src="/static/themes/images/menu/RascanubeIconos-LogoyTexto.svg" alt="Rascanube" class="hidden-xs" style="height:80px;width:auto;">
                    <img src="/static/themes/images/menu/RascanubeIconos-LogoSoloImagen.svg" alt="Rascanube" class="visible-xs" style="height:60px;width:auto;"><span class="sr-only">Rascanube</span>
                </a>
            </div>

        <!--Buscador-->
            <div class="col-md-6 col-sm-4 col-xs-6" id="navigation" >
                <form class="navbar-form" role="search">
                    <div class="input-group" id="search">
                        <input type="text" id="form-search" class="form-control" placeholder="Buscar">
                        <div class="input-group-btn">
                            <button type="submit" id="search-button" class="btn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        <!--/.nav-collapse -->
        <!--navbar MENU no mobile-->
            <div class="col-md-3 col-sm-4 col-xs-4" id="user-menu">
                <!--Menu User-->

                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
                            <i class="fa fa-user" style="color:#ADACB3;font-size: 3em;"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#register-modal">Registro</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200"><i class="fa fa-align-justify" style="color:#ADACB3;font-size: 3em;"></i></a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="about.html">About</a></li>
                            <li class=""><a href="contacto.html">Contacto</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->



        </div>
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- *** FIN NAVBAR  *** FIN MENU SUPERIOR ################################################## -->


<div class="navbar" role="navigation" id="nubes" style="background-color: #ECEDEF;">
    <div class="container" >
        <ul class="nav nav-justified">
            <li class="nav-item">
                <a href="proyectos.html" data-animate-hover="bounce">
                    <img src="/static/themes/images/menu/RascanubeIconos-Proyectos.svg" alt="Proyectos">
                    <p>Proyectos</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" data-animate-hover="bounce">
                    <img src="/static/themes/images/menu/RascanubeIconos-Obras.svg" alt="Proyectos">
                    <p>Obras</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" data-animate-hover="bounce">
                    <img src="/static/themes/images/menu/RascanubeIconos-Directorio.svg" alt="Proyectos">
                    <p>Directorio</p>
                </a>
            </li>
            <!--<li class="nav-item">-->
            <!--<a href="#" data-animate-hover="bounce">-->
            <!--<img src="themes/images/menu/RascanubeIconos-Profesionales.svg" alt="Proyectos">-->
            <!--<p>Profesionales</p>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a href="#" data-animate-hover="bounce">-->
            <!--<img src="themes/images/menu/RascanubeIconos-Normas.svg" alt="Proyectos">-->
            <!--<p>Normas de Construcción</p>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a href="#" data-animate-hover="bounce">-->
            <!--<img src="themes/images/menu/RascanubeIconos-Plotters.svg" alt="Proyectos">-->
            <!--<p>Plotters</p>-->
            <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>
<!-- /.container -->
</div>



<!-- C O N T E N I D O POST BANNER ########################################################## -->
<div class="container" style="margin-top:0.5em;">
    <div class="row">
        <!-- M E N U - L A T E R A L ################################################################# == -->
        <div class="col-sm-3 col-md-3" style="display:none;">
            <div class="panel-group hidden-xs" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-headphones">
                            </span> Audio</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" >
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" onclick="LoadMenu5(1, 'collapse1', 'ACEITES', 'ACEITES')"><span class="icon-chevron-right">
                            </span> Aceites</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" >
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" onclick="LoadMenu5(1, 'collapse4', 'BEBIDAS', 'BEBIDAS')"><span class="icon-chevron-right">
                            </span> BEBIDAS</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">




                                <tr>
                                    <td>
                                        <a href="javascript:LoadProducts( 'BEBIDAS AND CERVEZA', 0, 1000)">CERVEZA</a>
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        <a href="javascript:LoadProducts( 'BEBIDAS AND PAULANER', 0, 1000)">PAULANER</a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-star-empty">
                            </span> Indumentaria</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">item</a> <span class="label label-success">Resaltar</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-send">
                            </span> Juguetería</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-tags">
                            </span>  Mesa de Regalos</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">item</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- F I N - M E N U LATERAL ################################################################# === -->
        <!-- ############################# E S C R I T O R I O ####################################### === -->
        <div class="col-sm-12 col-md-12" id="escritorio" >
            <!-- P R O M O C I O N E S ################################################################### === -->
            <div id="promo" STYLE="display:none;">
                <h4  class="titulos" >Promociones</h4>
                <div class="col-sm-6 col-md-12">
                    <div class="product-slider" >

                        <div class="item" >

                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->

                        </div>

                        <div class="item" >
                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="item" >
                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="item" >
                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="item" >
                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="item" >
                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.product-slider -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /#promo -->
            <!-- F I N - SLIDER P R O M O C I O N E S ####################################============================ -->
            <!-- N U E V O S ################################################################### === -->
            <div id="nuevo"  STYLE="display:none;" >
                <h2  class="ntitulos col-xs-12" >Nuevos Productos</h2>
                <div class="col-sm-6 col-md-12" >
                    <div class="product-slider" >
                        <div class="item" >
                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="item" >
                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="item" >
                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="item" >
                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="item" >
                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="item" >
                            <h4 class="text-center"><span class="label label-warning">Producto</span></h4>
                            <img src="/static/themes/images/products/modelo1.png" class="img-responsive">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 venta">
                                        <h3>Fragancia sensorial Tranquility</h3>
                                    </div>
                                    <div class="col-md-12 col-xs-12 price">
                                        <h3><label>$649.99</label></h3>
                                        <del>$770</del>
                                    </div>
                                </div>
                                <p>Breve detalle1. rthheh eytyy etrt. tyertyert</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-product">Detalle</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-success btn-product">Comprar<i
                                                class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="ribbon new">
                                    <div class="theribbon">OFERTA</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon sale">
                                    <div class="theribbon">PROMO</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                                <div class="ribbon gift">
                                    <div class="theribbon"> - 30%</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.product-slider -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /#nuevo -->
            <!-- F I N - SLIDER N U E V O S ####################################============================ -->
            <!-- L I S T A D O S ###############################################============================ -->
            <div class="masonry">
                <div class="brick">
                    <img src="https://lh3.googleusercontent.com/Z6QBh_jHNXVbEQyRz9IJXRbS7zMLsmQSp_ntGN4FWpkNANiSlhJV06jis4JX9o4PpSTednt2-d4lTMFuQGLWANNAVvSiyQSfVdnqfP7jed120PbZ_q4yz_HhGhq1vZhHeL4bbcD4iCZJgRvNonGTFtALG7jVDEn2IKnc57_OA57l7odhvBbe25ycU1qWPn-fj1uHFEPwPGEJQz6_5PWWmawnZKpR6Nufi1EKMglC9uCLnhvs8apRWd7xMg3oDcsigdssiBsm35FyhwY8Cl4l9q3qtWbRgMZGD0sOI8-IAz62hY7kkb38ajKzTka249n4hdQ8zqi_3-NWKPi2hsayKP0TaMOirUo63lGwZhw0B-IhmzaQOj4y41fBXN7m9hDk4kXPUdkvA8HXIrJdQL2vFs05ix_JMc_aw62TSWLGCc6BJX3GMCZaHJoFwULNGP826Xwi8sduK592NUcWewG4ew57uGvNYrAiha-4_ogKTMpXYWj1saZzmA-KWNsyT-6KQXH3MG0ZhCroU2yy469Gg-23l0oSxHNpyhYjnSgm5Yw0xZxXgUnO9EGKzIGCHIJPIDOvJOW9wmcesQcNayev3zGxan44Qr9mGQ1QtqWWV1b9UaAB=s1200">
                    <div class="title">Title (título) <span class="pull-right"><img src="/static/themes/images/compartir.svg" style="width:1em;height:1em;"><img src="/static/themes/images/privado.svg" style="width:1em;height:1em;"></span></div>
                    <p>Autor - Empresa</p>
                </div>
                <div class="brick">
                    <img src="https://lh3.googleusercontent.com/OHluRJFZ6GwwXjQcbKlgm3RSMQyy1HrpXSRetGv0kZWbwZk2DZrRqqJle32lMkAVooXNmgsoSaizjrtPwMSyrWVAsKXKzm4WXn2Iwn20bJ0MrK2nDJhZudBKlZ0KdcG5b5RU48YletVAbWHNPlUJSM7K8ClIcvSzeAerocMiscXxWYxuBQHo5es-Aikc1cd6UKsNTs6sCdA0jdS7ksJPKGO8CT9Q6RKYbEBOlPV-pWYnZe-3ksB75TKatnBARaHK-raaLTIBX5RxwFzKjTo5uLWbqpnuNTa7Qd_CDnB8-nokNSrDyaiF-miPiR5AhrK6O2Y-KgpCsjjaJDRkQ9JeayX-5GG2iVEigGzP_yHyO6Byd5qSto5ujUqsqGskXS_E2mz_1lDe8ig_j_kAZ1XV6hIv9GCvmlI0Hy0uoSPYfF73kPoMQ9w7vvSpL1SFpqeQpJwcSWPkdZhcUCVlAX55XdZqvNic983LCK4bSRk80hBHOXSNi8jSNitgHJES2dOcWVwl3Zn9M6exiptcn3Ezk3iDDDBTuz2e8jL9M1zl6yp2I5n-_-5Th4wHA6Fik71vD0tUlwWPg0HndzzF0V1WbCjapAaKMeRo_ymEHjiOhl6t41_P=w1152-h768-no">
                    <div class="title">Title (título) <span class="pull-right"><img src="/static/themes/images/compartir.svg" style="width:1em;height:1em;"><img src="/static/themes/images/privado.svg" style="width:1em;height:1em;"></span></div>
                    <p>Autor - Empresa</p>
                </div>
                <div class="brick">
                    <img src="https://lh3.googleusercontent.com/Sn1qiF9Ccumf-hY2w9OTfF8slFQrzODw83It5iTDNZ_nh6PbZJ8jMSu40o_adNVw8A10Bhaxhkq19kzfKbi8oG79vwF3J9xmh0YKi6oTYzFQBTJUEPjVb1q9IoBnY63upWf30uekIuPxDY_cmg11kF701fZyT5saAyqttWDFGpU3sDZzRJ3780NR8jwjzEWc-xLeFLquAQUU-Rdn0HWD9MirVeMzM5QQf3gsqvC2FWsGUTIvSHAvc0wywvko6_aAO1tV17Ag58aEEpPwam2dxpNCjFVuNAJ_Uf_JbofesLkergCH4eY_QiNPksJiAsjCmSo6Q_3CTYfEGHiE8OJND_E93YNeQtR1Mw2wmDdQt3hhDQsyE-tJPV9NuzhgH4ObQg9LyRV1HnwYBOS3lMEgyQIYEpYYpxlMJcgon4ujL958j4eK1-hGfgSPNMxAkLDSVNrAY7J9qQp0daUwJm_aF_t_CuVl4Nq7Ing7tKvGNjTQsm8Gbchn9hiy1NrpgWXj9oHiC7mX-zJLLzK8AcKHuZfjVi1QzqEyxuNmY_CfOEdRheoM8g6enkD_UUYlmTEXYE4njUbx2rSqKoMaY_0Rq9ctxlE2L1dAd5M-RY4MWiLhWkXP=w1072-h657-no">
                    <div class="title">Title (título) <span class="pull-right"><img src="/static/themes/images/compartir.svg" style="width:1em;height:1em;"><img src="/static/themes/images/privado.svg" style="width:1em;height:1em;"></span></div>
                    <p>Autor - Empresa</p>
                </div>
                <div class="brick">
                    <img src="https://lh3.googleusercontent.com/ZNWN3X5Hz7eQXDHwvwBc8vuDg-FG2UEmWgFpz_Nn_VCKDXigRQh8-0GIdaQiJc3epZB9pHwFFewou7eVwg29SZgku30U0eA92b8rYrhNQIAlTJhmupAw3aS4LNIqdvdMPdIMCQeAQiMqRL_3nPFGojwQf2fT9DXunxILa6MLE3HEm308pdY4lJiF66rBpA49mmf63H2ZcbJWYlymv_ebPx174uGd2NtQoSOVfye_YvAmX-Y4kw2FFJaRaJcccSDEGxkMpij3tUUfA4BbYCydqxS5DW7ecWFyBbFEQNGh-QnWdvulz68GaIz_yEglt1_glxBWNwG33B72O_HKeC89EcEyrYv7c2CnJsLtqClTzWb0WZqduAiU8lPWBxP5qN3wtXdpmxMvpcEE5D1pmsY4BZJWut3YlBp9ypC5kEcxjnU8Ev_MQJrf8VsX82fTwKrcsuE4-ckfpk7ebbtxFVYoy85kguZOWnbnvn1aM4o0Kx7pVshyKmbdavt0QO3pfaH2Pz3G9neZ3R5S7baapCbGcV7cLRvk_Sv_HBrKhNIORzcQEffZ3kCpBOxekeDoxoo_EGQuybvouxDm0mzFSlttNN_zVzPxmB0JfXSbgseOf0chysxi=w986-h657-no">
                    <div class="title">Title (título) <span class="pull-right"><img src="/static/themes/images/compartir.svg" style="width:1em;height:1em;"><img src="/static/themes/images/privado.svg" style="width:1em;height:1em;"></span></div>
                    <p>Autor - Empresa</p>
                </div>
                <div class="brick">
                    <img src="https://lh3.googleusercontent.com/yxa4n93DLGLeleRITAr1GmNI7RSZE5Q7Jm_0ATV_yyzNi4Xp2F_Z_wU5QJlLDu7wmQAx8wiNlxM4foWz91wto0iYuuN36TLmxFxhDCqGs3R_-M08On8YBb0CS6jCUOusXNmg10u7gL01WAx7T2V4v5ggHfPKq8sDVQxurNBvOa6MWLtRcgQzpVIoRmYImwunvAAiCsLcS0tGHVf5GZdWVPaswrWinZrWoIz25uOQIKPwV1GZ1yVJ439n23VwVpX0-5KIBh1Sj3Dpv5-MmLMAO6m5fmEsuLsFFxfICHjsOv8TFvbRr_8rfC6cqTQVBMNkCssAy09We0WwSQQqtoVrAzPQOLGZo5by4om_eFbWux-6-dkUecdIKFBr5PbJvReVdNh-H7-nRcSkFt7b70GCtGitm659bt_crQ9tTllV-yCFaBm7Dc_Af06Afn8X_zK2IMjl0h9-dooKRdbOSA21doM0IZ2iapEk6uwhqhFBhj9FJRh2j6ZaoizgWCJTMTsm3P2gscdlPOkzQCZ_qfdqAkIO4E2L9FUF4Rp56E_v1Rp8qtQxZ_AMW-x6sybvz1UF2gWuSdJ8AiQouxkVbNxpgtXj4XxHnczo8HzEjfMgjjtgbyIm=w1028-h657-no">
                    <div class="title">Title (título) <span class="pull-right"><img src="/static/themes/images/compartir.svg" style="width:1em;height:1em;"><img src="/static/themes/images/privado.svg" style="width:1em;height:1em;"></span></div>
                    <p>Autor - Empresa</p>
                </div>
                <div class="brick">
                    <img src="https://lh3.googleusercontent.com/E1iYfNYem38eXCdFO2jNFY-oM__ROHiuH28xYXVH5lVPa51NEOfORhl1i0QFwdm4R_qH1mIWF_sSVI1c0NGLzjVBmfjlGHnHwblzErYzZAOeti3kDlfu-bZhaGgeM0fZmpvf1aTnjMNI4pcAAa7lShTtqrGoj20te3WVqIWVK4QlHKkJ1M2heAkvb5me-7w2XNBhjpp97MkUrKr599ei6bxPrmckLQN7p-uRHkf8WaRif18KrLOmunT5K3lJMaEqN9HntQJ5YoxV4mWKr40hu01BnzpoyBmZuLSTUE5kvKqkxUzXCk6skMri469aYsSQ9GbsI2gSWh6YtUhkFwr1XElg2QGyKTVMwUTxBtSuSi6C7JimTc11hRkkVloTsn3AEY5d-Wv4cl5l89Zhxv1sEQADGDGrWjXVOG61wnjSb2s0AkdhSvCzRwGW_N3PfHUB6sJSqj1UMvU6MBa02JNv8IpgHWoXqcAjkuMzMNWFoda-TsuENXdrCKnMLbzliLelyDVfz0-oGdbOU9tx1BbOUetys4dRtKQo3sUnA_PtZA19nrHi1jU7PpqnH7sPjcWD4EKKNp6AnksYkK6dQrgjiSdVZ6oK3Xa4GIZj5RBW3MWUJezs=w524-h657-no">
                    <div class="title">Title (título) <span class="pull-right"><img src="/static/themes/images/compartir.svg" style="width:1em;height:1em;"><img src="/static/themes/images/privado.svg" style="width:1em;height:1em;"></span></div>
                    <p>Autor - Empresa</p>
                </div>
                <div class="brick">
                    <img src="https://lh3.googleusercontent.com/ruLmS00ZTOFkwsBz-_EyPA1MwwYXWan4nx-QBm__bLAayF_mYikwDD4LjFH_Idkafi7yr3rMbAqv-FC16mM5tV_KWtqrhDgkw6B3KTHruKVZVb6w9Qr0xlM2ADWITAlrnUoGklTx_KqQQ0H8Y_mQf3RrlMC8-9HWKGHxagezc1hPifSLnHuQnAPUlBCChIxu74GdXXOLRqWF5NbFQRKKkGi4jj_7mG1Xlj8OViyRJBX60C_S3ocuRQVLWvk8_KGFfKlCH7yhTmMBjidtGqAZ7tOGVxY5QecKeIkJ2gmytf3CRhbrtyBPlnOwMHtWDTn9c1zYL7bU8Fhzb44eXLOb7PXvEV5gP6TMzaXXcvkACg_Do2oGq3febL88bG26Lo9WdMmkHz3JMZvM1NtKAoLFMziIhNAxB7Ph3VWIjeQUU5E-fXLCuZgZv0qQoqQU7qFEbzsKP36HBRcrp2P7BBh7bl83rPqfEN6FQSYeKcfKXxr_OlZ6Q7SbjkFD3EWi3qYT8VIBbU1gD4QAGmkg15_5fW6xRk4JL6aU0JUrIRvMwS_PgiSQLs7lXIOgXFa-t12w3_wj9etZQTQMhTYDWt4Ihx0-vYjWcXK6Y1syHrr4YwXcj29v=w493-h657-no">
                    <div class="title">Title (título) <span class="pull-right"><img src="/static/themes/images/compartir.svg" style="width:1em;height:1em;"><img src="/static/themes/images/privado.svg" style="width:1em;height:1em;"></span></div>
                    <p>Autor - Empresa</p>
                </div>
                <div class="brick">
                    <img src="https://lh3.googleusercontent.com/bQVoweUBz0AnYnhoQqPhCPlRknlOjaPkBeDC6AzbjnL2dQPAnj4OlSr7PLMKhoHLWYk7WxiPZlro1oJqytUrAwu8YLixc_8dignzGyLhMKmS3TTXH6pU6rU3UpC_Z5RKYW1VewBiXYsv75iZRCOHRUKedUbyBx4B9rWpjV-Uq4_RLwAPEPHWeLlEx_HiiuUmnjmhpvLofasm4WKB0wvnFUbw-uGRBwZiY6kTi6pzRJXpnHxkCXMsRguGmBnYcU1a1KFR3SRkcbbXZCY03pkKBgic93AHyTJ464qU8PHPxNy04v4I87YmshCy8g9dGzdmBQH7fo78JU9RcJ-udecm4AlOuIVCpFa0Ysh1mIaPmycLda_5pFJtWJb8uHz3ybR8RJGqMQsks_PZ7HwjOgFUcD0ToRvXgYnzCLaTmJhhyf6oqHujaA8wWkkdrtENjHA82-99RKu4OBcdWa3upnz7sHZT3ps0GdFyu6rXDEQ4yXnwGLMCZ_l4uJvpoLM4MCvXFETtslQt7I_nzafAR3Jy9MrGrcslFhOSw6ZyLY2ckKgnc1SoSuWyEb9OMApxrkcweEknMmMjDI4PrvBXzU66CTrz2wyIxnXWVVB_MNglDE1IZZAh=w986-h657-no">
                    <div class="title">Title (título) <span class="pull-right"><img src="/static/themes/images/compartir.svg" style="width:1em;height:1em;"><img src="/static/themes/images/privado.svg" style="width:1em;height:1em;"></span></div>
                    <p>Autor - Empresa</p>
                </div>
                <div class="brick">
                    <img src="https://lh3.googleusercontent.com/mFvvof4PyZNt9gRhxbdjVAz9mNUt7a9l2lfdoUTbWVAoTwgRoseuSY-HpOysVn9e6YQauijD1AfrfR18ozsk6IiIuE6bd3IDJZDyfQljKLhs5dH-vEkvfyvJMdBRkVZCm2AmTxrfmgnpmjLwatQ0pkRHOqzzGG80gfQY7srBRDeMnSSEji8ozukN8Ag6mL_Ca7l8tef0nA2xO_UBMXgykPVI8bb2yqbbpxBiB2Jo3Y9iVTLbLbydnSn0lQkAIbDjpFLNKFTICqNVq1flc2mcLZ46khgE4KzpHPPo_ZsJM6hwPvIfJFcOCCz2Az0aJpYnzF613tGy2MPPHinkdG-4-H7QsRO7gV0o0FuI5U-f3pHktlpHL3uMniG85ke7dEZbBqZ3I78TmhxQfjAb8KOIYqJ7g23_Rph3FdlIpCyylhZoYccaT9y8XujROXgOdKaBQPMvPqdL6hM7p9P2skXYYzvtbwWLZzr9kGTk4FOX5dRQ-EktT3eRVfAVr7TWgHWwd2GgDQuQDhZp9pjZt7b5-7m80rfaiXYQVZjIT98u9XYD0sxlFd9SJdIpqCMX6mNtqp4sI62B_5-ESCDohTlVuH8X16s7zmOM8lCNZhJkfzBcpSXD=w986-h657-no">
                    <div class="title">Title (título) <span class="pull-right"><img src="/static/themes/images/compartir.svg" style="width:1em;height:1em;"><img src="/static/themes/images/privado.svg" style="width:1em;height:1em;"></span></div>
                    <p>Autor - Empresa</p>
                </div>
            </div>
            <!-- F I N - L I S T A D O S #######################################============================ -->

        </div>
        <!-- FIN - E S C R I T O R I O ################################################################# -->
    </div>
</div>
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <ul class="breadcrumb">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li class="active">Producto</li>
                </ul>
            </div>
            <!-- M O D A L ########################################################################## -->
            <div class="modal-body">
                <h3>Nombre del producto</h3>
                <p>Detalles en general sobre productos.</p>
                <hr class="soft"/>
                <div id="gallery" class="col-sm-3 col-md-3">
                    <a href="/static/themes/images/products/modelo.png" title="Producto seleccionado">
                        <img src="/static/themes/images/products/modelo.png"  class="img-responsive" alt="producto seleccionado">
                    </a>
                </div>
                <!-- DETALLE PRODUCTO CONTROLES ########################################################################## -->
                <div class="col-sm-9 col-md-9" style="margin-bottom:5px;">
                    <!-- FORMULARIO ########################################################################## -->
                    <form class="form-horizontal qtyFrm" >

                        <div class="controls col-md-12">
                            <div class="col-sm-6" id="selectModelo">
                                <select class="form-control" data-style="btn-primary"  >
                                    <option>modelo 1</option>
                                    <option>modelo 2</option>
                                    <option>modelo 3</option>
                                </select>
                            </div>

                            <div class="col-sm-6">
                                <select class="form-control" data-style="btn-primary"  >
                                    <option>Talla</option>
                                    <option>Talla:S</option>
                                    <option>Talla:M</option>
                                    <option>Talla:L</option>
                                </select>
                            </div>
                            <div  class="col-sm-12 btn-group" data-toggle="buttons" id="product-colors">

                                <label class="btn btn-success active">
                                    <input type="radio" name="options" id="option2" autocomplete="off" chacked>
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>

                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="option1" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>

                                <label class="btn btn-info">
                                    <input type="radio" name="options" id="option3" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>

                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option4" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>

                                <label class="btn btn-warning">
                                    <input type="radio" name="options" id="option6" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>

                                <label class="btn btn-danger">
                                    <input type="radio" name="options" id="option5" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>

                                <label class="btn btn-fa5">
                                    <input type="radio" name="options" id="option7" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>

                            </div>

                            <div class="col-sm-3">
                                <input type="number" class="span1 form-control" placeholder="Cantidad" />
                            </div>
                            <div class="col-sm-12" id="btnDetalle">
                                <div class="col-sm-9">
                                    <p class="btn btn-primary outline">Antes: <span>$222.00</span></p>
                                </div>
                                <div class="col-sm-6">
                                    <p><a class="btn btn-primary btn-product" href="#">$200.00</a></p>

                                    <a href="#" class="btn btn-danger btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Comprar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="span9">
                    <ul id="productDetail" class="nav nav-pills nav-justified">
                        <li class="active"><a href="#home" data-toggle="tab" >Detalles del producto</a></li>
                        <li><a href="#profile" data-toggle="tab" >Productos Similares</a></li>
                        <li><a href="#profile" data-toggle="tab" >Otros datos</a></li>
                        <li><a href="#profile" data-toggle="tab" >Otros datos</a></li>
                    </ul>
                    <!-- CONTENEDOR DE TABS ############################################## ====== -->
                    <div id="myTabContent" class="tab-content">
                        <!-- TAB DETALLE DEL PRODUCTO =============================================== -->
                        <div class="tab-pane fade active in" id="home">
                            <h4>Información del producto (Tabla)</h4>
                            <table class="table table-bordered">
                                <tbody>
                                <tr class="techSpecRow"><th colspan="2">Detalles</th></tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Producto: </td><td class="techSpecTD2">xxxxx</td></tr
                                >
                                <tr class="techSpecRow"><td class="techSpecTD1">Modelo:</td><td class="techSpecTD2">xxxxxx</td></tr>

                                <tr class="techSpecRow"><td class="techSpecTD1">Versión:</td><td class="techSpecTD2"> 20xxxx</td></tr
                                >
                                <tr class="techSpecRow"><td class="techSpecTD1">Dimensiones:</td><td class="techSpecTD2">xxxxxxx</td
                                ></tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Otros dato:</td><td class="techSpecTD2">xxx</td></tr
                                >
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="largeModal1" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <ul class="breadcrumb">
                    <li class="active">
                        <button class="btn btn-success btn-xs"><i class="fa fa-shopping-cart"></i></button>
                        <b>Tus Compras</b> [ <small>X Item
                        (s) </small>]</li>
                </ul>
            </div>
            <!-- M O D A L ########################################################################## -->
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table  table-striped table-hover table-bordered table-condensed">
                        <thead  class="bg-primary">
                        <tr>
                            <th class="col-xs-1 col-sm-1">Producto</th>
                            <th>Descripción</th>
                            <th class="col-xs-1 col-sm-1">Cantidad</th>
                            <th class="col-xs-1 col-sm-1">Precio</th>
                            <th colspan="2" class="col-xs-2 col-sm-2">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> </td>
                            <td>xxxxxxxxxx</td>
                            <td>

                                <input type="number" class="form-control text-center" value="1">
                            </td>
                            <td>$10.000.00</td>
                            <td>$0.00</td>
                            <td class="text-center"  ><a href="#"><i class="fa fa-trash-o fa-lg"></i></a></td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td>x</td>
                            <td>
                                <input type="number" class="form-control text-center" value="1">
                            </td>
                            <td>$0.00</td>
                            <td>$0.00</td>
                            <td class="text-center"  ><a href="#"><i class="fa fa-trash-o fa-lg"></i></a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>xx</td>
                            <td>
                                <input type="number" class="form-control text-center" value="1">
                            </td>
                            <td>$00.00</td>
                            <td>$0.00</td>
                            <td class="text-center"  ><a href="#"><i class="fa fa-trash-o fa-lg"></i></a></td>
                        </tr>

                        <tr>
                            <td colspan="4" style="text-align:right">Precio total:  </td>
                            <td> $228.00</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:right">Descuento total:   </td>
                            <td> $50.00</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:right">Impuestos totales: </td>
                            <td> $31.00</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:right"><strong>TOTAL=</strong></td>
                            <td class="label label-important" style="display:block"> <strong> $0.00 </strong></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success">Ordenar Compra</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
