 <!-- Modal ============================================= -->
    <div id="stack1" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
      <div class="modal-header">
        <button type="button" id="id-bnCloseTop" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Product</h3>
      </div>
      <div class="modal-body">
		  
		<form id="id-FrmProduct" role="form" method="POST" action="/api/product/update">
			<div class="form-group">
				<label>ProductPOID</label>
				<input type="text" class="form-control" name="ProductPOID" id="id-ProductPOID" value={{ Doc['ProductPOID']}} readonly>
			</div>
			<div class="form-group">
				<label>Proveedor</label><input type="text" class="form-control" name="Supplier" id="id-Supplier"> </input>
			</div>
			<div class="form-group">
				<label>Marca</label><input type="text" class="form-control" name="Brand" id="id-Brand"> </input>
			</div>
			<div class="form-group">
				<label>Nombre de Producto</label><input type="text" class="form-control" name="ProductBrands" id="id-ProductBrands"> </input>
			</div>
			<div class="form-group">
				<label>Nombre Corto</label><input type="text" class="form-control" name="ShortName" id="id-ShortName"> </input>
			</div>			
			<div class="form-group">
				<label>Codigo Fabricante</label><input type="text" class="form-control" name="MCode" id="id-MCode"></input>
			</div>			
			<div class="form-group">
				<label>Topico / Personajes</label><input type="text" class="form-control" name="Topics" id="id-Topics"> </input>
			</div>
			<div class="form-group">
				<label>Atributos</label><input type="text" class="form-control" name="Attributes" id="id-Attributes"> </input>
			</div>
			<div class="form-group">
				<label>Precio Publico (U$S)</label><input type="number" step="any" class="form-control" name="CustomerPrice" id="id-CustomerPrice" value="0"> </input>
			</div>						
		</form>
    </div>
      <div class="modal-footer">
        <button id="id-bnClose" type="button" data-dismiss="modal" class="btn">Close</button>
        <button id="id-bnSave" type="button" class="btn btn-primary">Save</button>
      </div> 
	</div>  
<!-- End Modal ============================================= -->
<script type="text/javascript">
$(document).ready(function() { 
    
		$('#id-FrmProduct').ajaxForm( {
			target:'#id-divCache',
			success: function (responseText, statusText)
			{
				//alert( "BSD" );
				Result = 0;
				eval(responseText);
				//alert( Result );
				if( Result == 1)
				{
					/*$('#id-bnClose').click(function() {
						$('#stack1').modal('hide');
					});*/
				}
    
	$( "#listado" ).click(function() {
	});


    				
			}
		} );    

	$( "#id-bnSave" ).click(function() {
		//alert( "TODA" );
		$( "#id-FrmProduct" ).submit();
	});
    
}); 

</script>
